:root {
    --primary: #000;
    --secondary: #fff;
}

* {
    color: var(--secondary);
}

body {
    background-color: var(--primary);
}

/* GENERIC CLASSES */

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.page-num {
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 60px;
}

.page-num p {
    margin: 5px;
}

/* #navbar { THIS IS NOW IN THE flex-row CLASS
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
} */

#navbar .left-nav-container {
    font-size: 12px;

    width: 40%;
}

#navbar .left-nav-container img {
    width: 70px;
}

#navbar img {
    background: none;
    border: none;
}

.arrow-button:hover {
    cursor: pointer;
}

.arrow-button {
    background: none;
    border: none;
}

.arrow-button img {
    width: 40px;
    height: 20px;
}